@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --Light-Green: #d8f3dc;
    --Green: #2d6a4f;
    --Dark-Green: #1b4332;
    --Darker-Green: #081c15;
}

* {
    box-sizing: border-box;
    font-family: roboto;
}

body {
    background-color: var(--Darker-Green);
    margin: 0px;
}

.navbar {
    background-color: var(--Light-Green);
    list-style: none;
    display: flex;
    margin: 0px;
}

.navbar li{
    margin: 14px 0px 14px 0px;
}
.navbar a {
    text-decoration: none;
    color: var(--Darker-Green);
    padding: 14px 16px;
}

.navbar a:hover {
    color: var(--Light-Green);
    background-color: var(--Darker-Green);
    transition-timing-function: linear;
    transition-duration: 100ms;
}

#selected{
    color: var(--Light-Green);
    background-color: var(--Darker-Green);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

main h1 {
    color: var(--Light-Green);
    text-align: center;
    font-size: 10vh;
    margin: 5px;
}

main h2 {
    color: var(--Green);
    opacity: 100%;
}

main p {
    color: var(--Light-Green);
    opacity: 70%;
}
main a {
    text-decoration: none;
    border-style: solid;
    padding: 7px;
}

.Poptions{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.Poptions li{
    margin-inline: 10px;
    background-color: #2d6a4f;
    border-radius: 10px;
}

.Poptions img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.Poptions h2{
    color: white;
    text-align: center;
    margin: 3px;
}

.Poptions p{
    color: var(--Light-Green);
    text-align: center;
    margin: 2px;
}
.buttons {
    display: flex;
}

.buttons a {
    margin: 10px;
    border-radius: 2px;
}

.contact {
    color: var(--Light-Green);
    border-color: var(--Light-Green);
}

.contact:hover {
    color: var(--Darker-Green);
    background-color: var(--Light-Green);
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.products {
    border-color: var(--Dark-Green);
    background-color: var(--Dark-Green);
    color: var(--Light-Green);
}

.products:hover {
    background-color: var(--Light-Green);
    color: var(--Dark-Green);
    border-color: var(--Light-Green);
    transition-timing-function: linear;
    transition-duration: 100ms;

}
 
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }

  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }